<div class="search-form">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="exampleInputSearch" class="form-label">Search input</label>
            <input type="text" name="q" class="form-control" id="exampleInputSearch">
        </div>
        <div class="mb-3">
            <select name="gender" class="form-control" id="gender-input">
                <option value="male">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>